:root {
  --c5: #545775;
  --c4: #718f94;
  --c3: #90b494;
  --c2: #bfc8ad;
  --c1: #dbcfb0;
  --marginlr: 15px;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-color: whitesmoke;
}

.page {
  border: solid black 1px;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.form-container {
  flex-grow: 1;
  background-color: var(--c5);
}

.form-box {
  display: flex;
  flex-direction: column;
}

.form-box p {
  color: #1c1818;
  font-size: 20px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.form-inputs > input {
  padding: 5px;
  margin-left: var(--marginlr);
  margin-right: var(--marginlr);
  border-radius: 5px;
  border: 1px solid black;
  /* border: var(--c4) solid 2px; */
}

.form-inputs > input:hover {
  transform: scale(1.005);
}

.form-inputs > textarea:hover {
  transform: scale(1.005);
}

.form-inputs > textarea {
  margin-left: var(--marginlr);
  margin-right: var(--marginlr);
}

.cv_creator {
  background-color: rgb(196, 213, 233);
  border-radius: 10px;
}

.title {
  margin-left: 10px;
  font-size: 24px;
  justify-self: flex-start;
  align-self: flex-start;
}

.btn {
  border: var(--c5) 2px solid;
  border-radius: 75px;
  padding: 1%;
  box-shadow: -2px 2px var(--c5);
  background-color: var(--c4);
  margin-left: 30px;
  margin: 15px;

  align-self: flex-start;
}

.btn:hover {
  transform: scale(1.01);
  background-color: var(--c2);
}

.printBtn {
  margin-top: 10px;
}
.dvider {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.box {
  border-bottom: var(--c5) solid 1px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding: 30px;
  background-color: var(--c5);
}

.footer a {
  color: var(--c1);
  text-decoration: dashed;
}

.footer svg {
  color: var(--c1);
}

h2 {
  color: rgb(28, 85, 108);
}

.header {
  display: flex;
  color: rgb(28, 85, 108);
  margin-left: var(--marginlr);
  margin-right: var(--marginlr);
  justify-content: space-between;
  border-bottom: 4px black solid;
}
.paragraph {
  margin: 20px;
  text-align: start;
}

.list {
  color: black;
  list-style-type: none;
  text-align: start;
}

.list > li {
  margin: 0.3rem;
}

.cv_preview {
  background-color: whitesmoke;
  border: black 1px solid;
  padding: 10px;
  border-radius: 10px;
}

.experience {
  display: flex;
  flex-direction: column;
}

.experience h4 {
  font-size: larger;
}

.experience section {
  margin: 10px;
}

.danger {
  background-color: rgb(227, 90, 90);
}

.danger:hover {
  background-color: rgb(185, 21, 21);
}

.icon {
  width: 15px;
  margin-right: 5px;
}

.hide {
  display: none;
}
